h1 {
    position: relative;
}
h1:hover::after {
    content: attr(data-mycontent);
    font-size: 12px;
    position: absolute;
    top: 0;
    background-color: indianred;
    color: #fff;
    padding: 5px;
}
