body {
    font-family: 'Lato', sans-serif;
    background: #f3e0e2;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
main {
    display: flex;
    width: 80vw;
    margin: 0 auto;
    box-shadow: 10px 10px 42px #00000091;
}

main > * {
    flex-basis: 100%;
}

.login-form {
    background-color: #fff;
    text-align: center;
}
.login-form-heading {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 3rem;
}

.fab {
    border: 2px solid #eeeeee;
    padding: 15px;
    font-size: 30px;
    width: 60px;
    border-radius: 50%;
    height: 60px;
    margin-bottom: 30px;
}
.fa-facebook-f {
    margin-right: 5px;
}

.fa-twitter {
    margin-left: 5px;
}

input {
    width: 80%;
    background-color: #eeeeee;
    width: 80%;
    background-color: #eeeeee;
    padding: 15px;
    font-size: 1.1rem;
    margin-bottom: 15px;
    margin-top: 10px;
    border: none;
}

form a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #000000a6;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 15px;
}
input[type='submit'] {
    background: #ff4b2b;
    width: 17%;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
}
.login-text {
    background-image: linear-gradient(to right, #ff454d, #ff416a);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.text h2 {
    font-size: 4.5rem;
    color: #fff;
    margin-bottom: 25px;
}

.text p {
    color: #fff;
    font-size: 1.6rem;
}

.text {
    padding: 7rem;
}
