:root {
    --primary: #212121;
    --secondary: #f2f2f2;
    --btn: #f8f9fa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

.top-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top-bar a {
    color: var(--primary);
    text-decoration: none;
    font-size: 13px;
    padding: 22px 8px;
}
.top-bar a:hover {
    text-decoration: underline;
}

img.dot {
    cursor: pointer;
    margin: 0 10px;
}

img.profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 13px;
    border: 5px solid #fff;
    cursor: pointer;
}

img.profile:hover {
    border: 5px solid var(--secondary);
}

main {
    text-align: center;
}
main img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    margin-bottom: 35px;
}

input[type='text'] {
    display: block;
    width: 90vw;
    margin: 0 auto;
    padding: 13px;
    border-radius: 30px;
    border: 1px solid #e5e7ea;
    color: rgba(0, 0, 0, 0.8);
    padding-left: 50px;
    margin-bottom: 30px;
}
input[type='text']:hover {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.search {
    position: relative;
}

.fa-search {
    position: absolute;
    color: #9aa0a6;
    left: 45px;
    top: 14px;
    z-index: 555;
    font-size: 1rem;
}
.search-section {
    margin-top: 10%;
}
@media all and (min-width: 43.75em) {
    .search-section {
        margin-top: 100px;
    }
    input[type='text'] {
        width: 70%;
    }
    .fa-search {
        left: 16.5%;
    }
}

@media all and (min-width: 1200px) {
    .search-section {
        margin-top: 250px;
    }
    input[type='text'] {
        width: 40%;
    }
    .fa-search {
        left: 31%;
    }
}

.btn {
    padding: 10px;
    background-color: var(--btn);
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #474646;
    cursor: pointer;
    margin-bottom: 30px;
}
.btn:not(btn:last-of-type) {
    margin-right: 15px;
}
.btn:hover {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.search p {
    font-size: 14px;
}
footer {
    position: absolute;
    bottom: 0;
}

.footer-top {
    background-color: var(--secondary);
    width: 100vw;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.footer-top p {
    font-size: 15px;
    padding: 15px 30px;
    color: rgba(0, 0, 0, 0.5);
}
.footer-bottom {
    background-color: var(--secondary);
    padding: 15px;
}

.footer-bottom a {
    font-size: 14px;
    color: #70757a;
    padding: 15px;
    text-decoration: none;
}

.footer-bottom a:hover {
    text-decoration: underline;
}

.footer-bottom div:nth-child(1) {
    padding-bottom: 25px;
    padding-top: 5px;
}

@media all and (min-width: 43.75em) {
    .footer-bottom {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
    }
    .footer-top div:nth-child(1) {
        padding-bottom: 10px;
        padding-top: 5px;
    }
}
