section {
    background-color: rgba(255, 0, 0, 0.5);
    border: 5px dashed black;
    height: 2000px;
    padding: 50px;
    background-image: radial-gradient(
            circle at 29% 55%,
            hsla(329, 0%, 99%, 0.05) 0%,
            hsla(329, 0%, 99%, 0.05) 4%,
            transparent 4%,
            transparent 44%,
            transparent 44%,
            transparent 100%
        ),
        radial-gradient(
            circle at 85% 89%,
            hsla(329, 0%, 99%, 0.05) 0%,
            hsla(329, 0%, 99%, 0.05) 51%,
            transparent 51%,
            transparent 52%,
            transparent 52%,
            transparent 100%
        ),
        radial-gradient(
            circle at 6% 90%,
            hsla(329, 0%, 99%, 0.05) 0%,
            hsla(329, 0%, 99%, 0.05) 53%,
            transparent 53%,
            transparent 64%,
            transparent 64%,
            transparent 100%
        ),
        radial-gradient(
            circle at 35% 75%,
            hsla(329, 0%, 99%, 0.05) 0%,
            hsla(329, 0%, 99%, 0.05) 6%,
            transparent 6%,
            transparent 98%,
            transparent 98%,
            transparent 100%
        ),
        radial-gradient(
            circle at 56% 75%,
            hsla(329, 0%, 99%, 0.05) 0%,
            hsla(329, 0%, 99%, 0.05) 16%,
            transparent 16%,
            transparent 23%,
            transparent 23%,
            transparent 100%
        ),
        radial-gradient(
            circle at 42% 0%,
            hsla(329, 0%, 99%, 0.05) 0%,
            hsla(329, 0%, 99%, 0.05) 3%,
            transparent 3%,
            transparent 26%,
            transparent 26%,
            transparent 100%
        ),
        radial-gradient(
            circle at 29% 28%,
            hsla(329, 0%, 99%, 0.05) 0%,
            hsla(329, 0%, 99%, 0.05) 51%,
            transparent 51%,
            transparent 75%,
            transparent 75%,
            transparent 100%
        ),
        radial-gradient(
            circle at 77% 21%,
            hsla(329, 0%, 99%, 0.05) 0%,
            hsla(329, 0%, 99%, 0.05) 35%,
            transparent 35%,
            transparent 55%,
            transparent 55%,
            transparent 100%
        ),
        radial-gradient(
            circle at 65% 91%,
            hsla(329, 0%, 99%, 0.05) 0%,
            hsla(329, 0%, 99%, 0.05) 46%,
            transparent 46%,
            transparent 76%,
            transparent 76%,
            transparent 100%
        ),
        linear-gradient(45deg, rgb(83, 91, 235), rgb(76, 11, 174));
    /* background-clip: border-box; */
    /* background-origin: border-box; */
    /* background-repeat: no-repeat, no-repeat;
    background-size: 250px, 250px, 100%; */

    /* background-image: url(https://media.workandmoney.com/ce/39/ce39903185b44964b9db839467e92260.jpg),
        url(https://images.unsplash.com/photo-1517999144091-3d9dca6d1e43?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80),
        linear-gradient(to right, red, orange); */
    /* background-image: url(https://media.workandmoney.com/ce/39/ce39903185b44964b9db839467e92260.jpg);
    background-size: 250px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center; */

    background: url(https://media.workandmoney.com/ce/39/ce39903185b44964b9db839467e92260.jpg)
        no-repeat fixed center center;
    background-size: 250px;
    box-sizing: border-box;
}
